span
{
    font-weight: bold;
    color: yellow;
}

#content
{
    width: 800px;
    margin: auto;
    background-color: rgb(167, 153, 153);
}

h1
{
    font-variant: small-caps;
}

p, li
{
    text-align: justify;
}

.container
{
    margin: 20px;
}

a:visited, a
{
    color: white;
}

a:hover
{
    color: red;
}